.first1{
    color:cadetblue;
    background-color: blue;
}
.second2{
    color:blueviolet;
}
.three3{
    background-color: yellow;
    color: orange;
}
.fourth4{
    background-color:darkseagreen;
}